body {
  margin: 0;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color-page);
}

#app {
  width: 100vw;
  height: 100vh;
}

div,
header,
main {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
}
