:root {
  --el-border-radius-base: 8px;
}

:root .el-input,
:root .el-textarea {
  --el-input-border-radius: 10px;
}

:root .el-pagination {
  --el-pagination-border-radius: 10px;
}

body {
  margin: 0;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color-page);
}

#app {
  width: 100vw;
  height: 100vh;
}

div,
header,
main {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
}
